# EMAIL SPAM DETECTION WITH MACHINE LEARNIN

IMPORT MODULES

In [1]:
import pandas as pd
import numpy as np
import nltk
import re
from nltk.corpus import stopwords

LOADING DATASET

In [2]:
df = pd.read_csv(r"C:\Users\sweth\OneDrive\Pictures\Desktop\Test Jupyter\mail_data.csv")
df.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

PREPROCESSING DATASET

In [3]:
df = df[['v2', 'v1']]

df = df.rename(columns={'v2': 'messages', 'v1': 'label'})
df.head()

                                            messages label
0  Go until jurong point, crazy.. Available only ...   ham
1                      Ok lar... Joking wif u oni...   ham
2  Free entry in 2 a wkly comp to win FA Cup fina...  spam
3  U dun say so early hor... U c already then say...   ham
4  Nah I don't think he goes to usf, he lives aro...   ham

In [4]:
df.shape

(5572, 2)

In [5]:
df.columns

Index(['messages', 'label'], dtype='object')

In [6]:
df.drop_duplicates(inplace=True)

In [7]:
df.shape

(5157, 2)

In [8]:
df.isnull().sum

<bound method NDFrame._add_numeric_operations.<locals>.sum of       messages  label
0        False  False
1        False  False
2        False  False
3        False  False
4        False  False
...        ...    ...
5567     False  False
5568     False  False
5569     False  False
5570     False  False
5571     False  False

[5157 rows x 2 columns]>

In [9]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\sweth\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [10]:
STOPWORDS = set(stopwords.words('english'))

def clean_text(text):
    # convert to lowercase
    text = text.lower()
    # remove special characters
    text = re.sub(r'[^0-9a-zA-Z]', ' ', text)
    # remove extra spaces
    text = re.sub(r'\s+', ' ', text)
    # remove stopwords
    text = " ".join(word for word in text.split() if word not in STOPWORDS)
    return text

In [11]:
df['clean_text'] = df['messages'].apply(clean_text)
df.head()

,messages,label,clean_text
0,"Go until jurong point, crazy.. Available only ...",ham,go jurong point crazy available bugis n great ...
1,Ok lar... Joking wif u oni...,ham,ok lar joking wif u oni
2,Free entry in 2 a wkly comp to win FA Cup fina...,spam,free entry 2 wkly comp win fa cup final tkts 2...
3,U dun say so early hor... U c already then say...,ham,u dun say early hor u c already say
4,"Nah I don't think he goes to usf, he lives aro...",ham,nah think goes usf lives around though

In [12]:
X = df['clean_text']
y = df['label']

MODEL TRAINING

In [13]:
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import classification_report
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer, TfidfTransformer

def classify(model, X, y):
    
    x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42, shuffle=True, stratify=y)

    pipeline_model = Pipeline([('vect', CountVectorizer()),
                              ('tfidf', TfidfTransformer()),
                              ('clf', model)])
    pipeline_model.fit(x_train, y_train)
    y_pred = pipeline_model.predict(x_test)
    print(classification_report(y_test, y_pred))
    print('Accuracy:', pipeline_model.score(x_test, y_test)*100)

In [14]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
classify(model, X, y)

              precision    recall  f1-score   support

         ham       0.96      1.00      0.98      1130
        spam       0.97      0.71      0.82       160

    accuracy                           0.96      1290
   macro avg       0.96      0.85      0.90      1290
weighted avg       0.96      0.96      0.96      1290

Accuracy: 96.04651162790697

                                                                                                              SWETHA S